<p class=pageHeader">New Department</p>

<form action="/departments" method="post">
    <label for="title">Department Name:</label>
    <input id="title" class=inputbox" type="text" name="title" required="true">

    <input type="submit" value="Save" class="button">

</form>