<p class=pageHeader">Remove Department</p>

<form action="/departments/delete/" method="post">
    <label for="title">Department id:</label>
    <input id="title" class=inputbox" type="text" name="title" required="true">

    <input type="submit" value="Save" class="button">

</form>